# Virtual environment
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Project caches & thumbnails
/cache/
/thumbnails/

# Packaging
*.egg-info/
dist/
build/

# OS specific files
.DS_Store
Thumbs.db
